@import url('https://fonts.googleapis.com/css?family=Tomorrow:500&display=swap');

.logo{
    height: 5rem;
}
.navButton{
    height:2rem;
   
}
.nav{
    display:flex;
    justify-content:space-between;
    padding: 2rem;
    
}
.navBtn{
    border:none;
    background-color: inherit;
    cursor: pointer;
    padding-right: 7rem;
    height: auto;
    position: absolute;
    z-index: 2;
    right: 0;
}
.navBtn:hover{
    cursor: pointer;
}
.nav2{
    position: absolute;
    z-index: 2;
}
.navContent{
    display: flex;
    justify-content: center;
    width: 100vw;
}
.iconBtn{
    border:none;
    background-color: rgba(52,59,85,1);
    display: flex;
    flex-direction: column;
    align-items: center;
    width:25vw;
    cursor: pointer;
    border-bottom: 5px solid rgba(255, 255, 255, 0);
}
.iconImg{
    height: 2.5rem;
    padding-top: 1rem;
    
}
.iconBtn:hover{
    cursor:hover;
    border-bottom: 5px solid orangered;
    /* border-color: orangered; */
}
.iconText{
    color: white;
    margin-bottom: 1rem;
    padding-top: 0.5rem;
    font-family: 'Tomorrow', sans-serif;

}
.exitBtn{
    display: flex;
    justify-content: right;
    margin-right: 3rem;;
margin-top:2rem;
}
.exitImg:hover{
    cursor: pointer;
}
.exitImg{
    height:3rem;
}
.triangle{
    height:1.25rem;
    margin-bottom: -0.5em;
    margin-top: -1.25em;
}
@media screen and (max-width: 1200px) {
    .navBtn{
        margin-top: 1rem;
        padding-right: 6rem;
    }
  }
  @media screen and (max-width: 900px) {
        .navBtn{
            padding-right: 5rem;
  }
}
  @media screen and (max-width: 600px) {
    .navBtn{
        padding-right: 3rem;
}
  }