@import url('https://fonts.googleapis.com/css?family=Tomorrow:500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Audiowide');
.bg{
    background-image: url('../../public/homepage-compressed-pc.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-family: 'Tomorrow', sans-serif;
}
.text{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 5rem;
    letter-spacing: 3rem;
    margin-left: 3rem;
    font-family: 'Audiowide',sans-serif;
}
.htext{
    padding-top: 20rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left:0;
    right: 0;}
.ctimer{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #c2d4eb;
    font-size: 4rem;
    margin:1rem;
    width:5rem;
}
.timer{
    display: flex;
    justify-content: center;
    text-shadow: 0px 0px 20px #0072ff,
    0px 0px 80px #0072ff,
    0px 0px 120px #0072ff,
    0px 0px 150px #0072ff;
    /* width: 5em; */
}
.timerText{
    font-size: 1rem;
    color: #a2c9f8;
}
@media screen and (max-width: 1200px) {
    .text {
      font-size: 6.5vw;
      letter-spacing: 3vw;
    }
    .ctimer{
        font-size: 3rem;
    }}
  @media screen and (max-width: 900px) {
  
    .ctimer{
        font-size: 2.5rem;
        width:3.5rem;
    }
  }
  @media screen and (max-width: 600px) {
   
    .ctimer{
        font-size: 2rem;
        width:3rem;
    }
  }
